.blutext{
    color: #010156 !important;
}

.blu{
    background-color: #010156 !important;
}

.orangetext{
    color: #e65d0f !important;
}

.orange{
    background-color: #e65d0f !important;
}

.filter {
    font-size: large !important;
}

.my-fade-in {
    animation-duration: 60s;
}

@media (max-width: 768px) {
    .shift {
      width: 84% !important;
    }
  }
  